.container{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    background-color: lightskyblue;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: lightskyblue;
    column-gap: 5px;
    padding: 10px;
    justify-content: space-between;
}
.nav-item{
}